{% extends "fin_data_cl/base.html" %}
{% load text_filters %}

{% block title %}Financial Risks{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-6 px-4">
        {% with form_id="left" number=1 side_name="Left" form=form_left report=report_left %}
            {% include "fin_data_cl/financial_risks_section.html" %}
        {% endwith %}
    </div>

    <div class="col-md-6 px-4">
        {% with form_id="right" number=2 side_name="Right" form=form_right report=report_right %}
            {% include "fin_data_cl/financial_risks_section.html" %}
        {% endwith %}
    </div>
</div>
{% endblock %}